/*
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #EFF1FA;
    background-color: #0A3871;
    border: hidden;
    /*flex: 0 0 100%;
.principal{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    width: 70%;
    background-color: aquamarine;
}
.titulo{
    position: inline;
    left: 35%;
    right: auto;
    top: 1rem;
    bottom: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 3rem;
    font-weight: 400; 
    text-align: center;
    color: #0A3871;
}
#soloMay{
    position:absolute;
    font-family: 'Inter',sans-serif;
    font-size: 12px;
    color: #495057;
}
#input-texto{
    position: inline;
    width: 50%;
    background-color: aqua;
    height: 20rem;
    bottom: auto;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0em;
    text-align:start;
    color: #0A3871;
}
.btn1{
    display:;
    padding: 24px;
    position: inline;
    border: 0;
    color: white;
    font-size: 15;
    background-color: #0A3871;
    border-radius: 24px;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}
.btn2{
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    color: #0A3871;
    position: inline;
    font-size: 15;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}/*
.formbox{
    width: 50%;
    background-color: blueviolet;
}
.msg-box{
    background-color: white;
    position: absolute;
    margin: 2rem;
    height: 70%;
    width: 50%;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
}*//*
#msg {
    outline: none;
    position: relative;
    height: 200px;
    width: 100px;
    left: 0px;
    top: 40px;
    border-radius: 20px;
    border-color: transparent;
    display: inline;
    padding: 0.5em;
    width: 100%;
    height: 150px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #495057;
    background-color: transparent;
}

#btn-copy {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    color: #0A3871;
    position: absolute;
    width: 328px;
    height: 67px;
    left: -12.5px;
    bottom: 15px;
    font-size: 15;
    background: white;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #EFF1FA;
    border: hidden;
    font-family: 'Inter', sans-serif;
    justify-content: center;
  

}
main{
    width: 100%;
    display: flex;
    align-items: center;
}
.titulo{
    font-size: 2rem;
    text-align: start;
    color: #0A3871;
    margin: 1.5rem  0 0 3rem;
    font-weight: 400;
    
}
.caja-formulario {
    margin-left: 10rem;
    display: inline-block;
    background-color: red;
    width: 50%;
    padding: 1rem;
    text-align: start;
    align-items: center;
    background-color: transparent;
}
.text-input1{
    margin-left: 2rem;
    width: 80%;
    display: block;
    height: 55vh;
    bottom: auto;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 0em;
    text-align:start;
    color: #0A3871;
    resize: none;
}
.text-input{
    width: 100%;
    display: block;
    height: 55vh;
    bottom: auto;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 0em;
    text-align:start;
    border-color: transparent;
    background-color: transparent;
    resize: none;
}

#soloMay{
    display: block;
    font-size: 12px;
    color: #495057;
    margin: 2rem 0 0 1rem;
}
.btn1{
    display:inline;
    padding: 24px;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
    height: 20px;
    border: 0;
    color: white;
    font-size: 15;
    background-color: #0A3871;
    border-radius: 18px;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.5rem;
}
.btn2{
    display: inline;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    width: 40%;
    color: #0A3871;
    font-size: 15;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 18px;
    order: 1;
    flex-grow: 0;
    margin: 1rem 1.5rem;
    height: 20px;
}
.caja-mensaje{
    resize: none;
    margin: 2rem 2rem;
    display: inline-block;
    width:22%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border-color: transparent;
    padding: 2rem;

}
#btn-copy {
    margin-top: 1rem;
    display: inline;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    color: #0A3871;
    width: 100%;
    height: 20px;
    font-size: 15;
    background: white;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
footer{
    font-weight: 400;
    margin-top: 1.5srem;
    display: block;
    text-align: center;
    width: 100%;
    background-image: url(imagenes/bg.jpg);
    color: #0A3871;
}